<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding Order</title>
</head>
<body>
<div class="container">
    <form action='/adding_order' method='POST'>
        <ul>
            <li>    <input type="text" class="form-control" value="{{order_id}}" name="order_id" readonly>          </li>
            <li>    <input type="text" class="form-control" placeholder="Name of Customer" name="cust_name">        </li>
            <li>    <input type="text" class="form-control" placeholder="Phone Number" name="phone_number">         </li>
            <li>    <input type="text" class="form-control" placeholder="Number of tiffin" name="no_of_tiffin">     </li>
            <li>    <input type="text" class="form-control" placeholder="Address Line 1" name="street">             </li>
            <li>    <select name="loc_id">
		                {% for loc in locality_list %}
			                <option value="{{loc['_id']}}">{{ loc['name'] }}</option>
		                {% endfor %}
	                </select>
            </li>
            <li>    <input type="text" class="form-control" placeholder="Locality" name="locality">                 </li>
            <li>    <input type="text" class="form-control" placeholder="Extra Address" name="address_remarks">     </li>
            <li>    <input type="text" class="form-control" placeholder="Order Remarks" name="order_remarks">       </li>
        </ul>
        <input type="submit" class="btnSubmit" value="Add Order">
    </form>
</div>
</body>
</html>