<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Vip Khana</title>
</head>
<body>
<div class="container">
    <!-- Flashing messages -->
	{% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<!-- Rest of the content -->
    This is your home Mr. {{first_name}}

    <br><br>
    <form action='/add_order' method='POST'>
        <input type="submit" class="btnSubmit" value="Add Order" >
    </form><br>

    <form action='/list_order_stat1' method='POST'>
        <input type="submit" class="btnSubmit" value="List of all active orders" >
    </form><br>

    <form action='/list_order_stat2' method='POST'>
        <input type="submit" class="btnSubmit" value="List of all orders with delivery guy" >
    </form><br>

    <form action='/list_order_stat34' method='POST'>
        <input type="submit" class="btnSubmit" value="List of all orders with customer" >
    </form><br>

    <form action='/list_order_history' method='POST'>
        <input type="submit" class="btnSubmit" value="List of all completed orders" >
    </form><br>

    <form action='/order_details' method='POST'>
        <input type="text" class="form-control" placeholder="Order Id" name="order_id">
        <input type="submit" class="btnSubmit" value="Get Order Details" >
    </form><br>

    <form action='/delivery_details' method='POST'>
        <select name="delboy_id">
            {% for boy in delivery_boy_list %}
                <option value="{{boy['username']}}">
                    {{ boy['name'] }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" class="btnSubmit" value="Get Delivery Details" >
    </form><br>


    <br>
    <form action='/logout' method='POST'>
        <input type="submit" class="btn btn-danger" value="Logout" >
    </form><br><br>


</div>
</body>
</html>