<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vip Khana</title>
</head>
<body>
<div class="container">
    {% with messages= get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    This is your home Mr. {{first_name}}
    <form action='/logout' method='POST'>
        <input type="submit" class="btnSubmit" value="Logout" >
    </form>
</div>
</body>
</html>