<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all orders</title>
</head>
<body>
<div class="container">
    This is your home Mr. {{first_name}}
    <br>

    <form action='/login' method='POST'>
        <input type="submit" class="btnSubmit" value="Home" >
    </form><br><br>

    <h2>{{header}}</h2>
    <table>
        <tr>
            <th> Order Id </th>
            <th> Locality </th>
            <th> Customer's Name </th>
            <th> Phone Number </th>
            <th> Order Date </th>
            <th> Number of tiffin </th>
            <th> More Detials </th>
            <th> Assign Delivery </th>
        </tr>

        {% for order in orders %}
            <tr>
                <td>{{ order['order_id'] }}</td>
                <td>{{ order['locality_name'] }}</td>
                <td>{{ order['customer_name'] }}</td>
                <td>{{ order['phone_number'] }}</td>
                <td>{{ order['order_date'] }}</td>
                <td>{{ order['quantity'] }}</td>
                <td>
                    <a href ="{{ url_for('detailed_order', order_id=order['order_id']) }}">More Details</a>
                </td>
                <td>
                    <form>
                        <select name="adr_id">
		                {% for boy in delivery_boy_list %}
			                <option value="{{boy['username']}}">
                                {{ boy['name'] }}
                            </option>
		                {% endfor %}
	                </select>
                        <input type="submit" class="btnSubmit" value="Assign" >
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>



</div>
</body>
</html>