<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>

	<!-- Boot strap linking-->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<!-- Custom CSS linking -->
	<link href="{{ url_for('static', filename='css/order_details.css') }}" rel="stylesheet">

</head>
<body onload="changeClass({{order['status']}})">
<div class="container">


    <!-- Flashing messages -->
	{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}


	<!-- Rest of the content -->
    This is your home Mr. {{first_name}}
    <br>
    <form action='/login' method='POST'>
        <input type="submit" class="btnSubmit" value="Home" >
    </form><br><br>

    <b>Order Details:<br></b>
    {% if order['_id'] != '' %}
        <table class="table table-bordered"><tbody>
            <tr>
                <td> Order ID</td>
                <td>{{ order['_id'] }}</td>
            </tr>
            <tr>
                <td> Order Date</td>
                <td>{{ order['order_date'] }}</td>
            </tr>
            <tr>
                <td> Number of tiffins</td>
                <td>{{ order['quantity'] }} </td>
            </tr>
            <tr>
                <td> Customer Name </td>
                <td>{{ customer_name }}</td>
            </tr>
            <tr>
                <td> Customer Phone Number</td>
                <td>{{ customer_phone }}</td>
            </tr>
            <tr>
                <td> Address </td>
                <td>{{ address }}, {{ locality_name }}</td>
            </tr>
            <tr>
                <td> Order Status </td>
                <td>{{ status_enum[order['status']] }}</td>
            </tr>
            <tr>
                <td> Delivery boy </td>
                <td>{{ delivery_guy_name }}</td>
            </tr>
        </tbody>
        </table> <br><br>
    {% endif %}

    <ol class="progtrckr" data-progtrckr-steps="5">
        <li id="1" class="progtrckr-todo">Order Received</li>
        <li id="2" class="progtrckr-todo">Order to Delivery Guy</li>
        <li id="3" class="progtrckr-todo">Payment Received</li>
        <li id="4" class="progtrckr-todo">Completed</li>
        <li id="5" class="progtrckr-todo">Order Cancelled</li>

    </ol><br><br>


    Change status of order:<br>
    <form action='/change_order_stat' method='POST'>
        <input type="text" class="form-control" value=" {{order['_id'] }}" name="order_id" readonly>
        <select name="new_status">
            {% for key in status_enum.keys() %}
                <option value="{{ key }}">
                    {{ status_enum[key] }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" class="btnSubmit" value="Change status" >
    </form><br><br><br>

    <b>Order Logs:<br></b>
    <table class="table"><thead class="thead-dark">
        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Order Status Change</td>
            <th scope="col">Last Update</td>
        </tr></thead>

        <tbody>
        {% for log in logs %}
            <tr>
                <th scope="row">{{ log['order_id'] }}</>
                <td>{{ status_enum[log['order_current_stat']] }}</td>
                <td>{{ log['_id'] }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>




<!-- Custom JS code -->
<script type="text/javascript">
	<!-- CLosing the flash messages -->
	document.getElementById("close_flash_message").onclick = function() {
		document.getElementById("close_flash_message").style.display = "none";
}

</script>
<script src="{{ url_for('static', filename='js/list_order.js') }}"></script>
<script src="{{ url_for('static', filename='js/order_details.js') }}"></script>



</body>
</html>